@import "variables";

.header {
  padding: 21px 0;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hamburger {
      display: none;
      margin-left: auto;
      cursor: pointer;
      height: 26px;

      &:hover {
        span {
          background-color: $dark_purple;
        }
      }

      span {
        display: block;
        height: 3px;
        width: 25px;
        background-color: $purple;
        position: relative;

        &:before, &:after {
          content: '';
          display: block;
          position: absolute;
          height: 3px;
          width: 25px;
          background-color: $purple;
        }

        &:before {
          top: -7px;
        }

        &:after {
          bottom: -7px;
        }
      }
    }

    .menu {
      display: flex;
      align-items: center;
      list-style: none;
      margin-left: auto;
      transition: .3s all ease;

      &-active {
        right: 100%;
      }

      &-hidden {
        right: 0;
      }

      .close-btn {
        display: block;
        position: absolute;
        cursor: pointer;
        color: $white;
        border: 1px solid $white;
        border-radius: 50%;
        padding: 3px 7px;
        top: 20px;
        left: 20px;

        &:hover {
          background-color: rgba($white, .1);
        }

        &-disactive {
          display: none;
        }
      }

      .list-item {
        margin-left: 43px;
      }
    }

    &__link {
      text-decoration: none;
      color: $dark;

      &:hover {
        color: $purple;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
