@import "variables";

.header {
  padding: 21px 0;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        margin-left: 43px;
      }
    }

    &__link {
      text-decoration: none;
      color: $dark;

      &:hover {
        color: $purple;
      }

      &:first-child {
        margin-left: 0;
      }
    }
  }
}
