@media screen and (max-width: 1240px) {
  .banner {
    padding-bottom: 685px;

    img {
      width: 95%;
    }
  }

  .services {
    .cards {
      .card {
        width: 360px;
      }
    }
  }

  .comments {
    .item {
      width: 570px;
    }
  }
}

@media screen and (max-width: 1200px) {
  .services {
    .cards {
      .card {
        width: 360px;
      }
    }
  }

  .comments {
    .item {
      width: 550px;
    }
  }
}

@media screen and (max-width: 1145px) {
  .banner {
    padding-bottom: 585px;

    img {
      width: 85%;
    }
  }

  .services {
    .cards {
      .card {
        width: 340px;
      }
    }
  }

  .comments {
    .item {
      width: 535px;
    }
  }
}

@media screen and (max-width: 1110px) {
  .services {
    .cards {
      flex-wrap: wrap;
      padding-bottom: 46px;

      .card {
        width: 450px;
        margin-bottom: 40px;
      }
    }
  }

  .comments {
    &__title {
      text-align: center;
      padding: 0;
    }

    .flex-box {
      flex-direction: column;
    }

    .item {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .banner {
    padding-bottom: 50px;

    img {
      display: none;
    }
  }

  .services {
    padding-top: 100px;
  }
}

@media screen and (max-width: 955px) {
  .services {
    .cards {
      flex-wrap: nowrap;
      flex-direction: column;

      .card {
        margin: 0 auto 40px;
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .header {
    .nav {
      .hamburger {
        display: flex;
        align-items: center;
      }

      ul {
        display: none;
        background-color: rgba($dark, .9);
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        padding-top: 40px;

        .list-item {
          margin: 0;
          padding: 15px 0;
          text-align: center;
        }
      }

      &__link {
        color: $white;
      }
    }
  }

  .banner {
    &__title {
      font-size: 45px;
    }
  }

  .footer {
    &__wrap {
      flex-direction: column;
    }

    &__block:not(:last-child) {
      margin-bottom: 35px;
    }
  }
}

@media screen and (max-width: 501px) {
  .banner {
    .btn-group {
      display: flex;
      align-items: center;
      flex-direction: column;

      &__btn {
        padding: 17px 39px;
        width: 100%;

        &-main {
          margin: 0 0 10px;
        }
      }
    }
  }

  .services {
    &__title {
      font-size: 38px;
    }

    .cards {
      .card {
        width: 100%;
      }
    }
  }

  .comments {
    &__title {
      font-size: 38px;
    }
  }
}
