*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  font-size: 10px;
}

body {
  color: #100A30;
  font-size: 16px;
  font-family: "Inter", sans-serif;
}

.header {
  padding: 21px 0;
}
.header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .nav .hamburger {
  display: none;
  margin-left: auto;
  cursor: pointer;
  height: 26px;
}
.header .nav .hamburger:hover span {
  background-color: #5846cc;
}
.header .nav .hamburger span {
  display: block;
  height: 3px;
  width: 25px;
  background-color: #624DE3;
  position: relative;
}
.header .nav .hamburger span:before, .header .nav .hamburger span:after {
  content: "";
  display: block;
  position: absolute;
  height: 3px;
  width: 25px;
  background-color: #624DE3;
}
.header .nav .hamburger span:before {
  top: -7px;
}
.header .nav .hamburger span:after {
  bottom: -7px;
}
.header .nav ul {
  display: flex;
  align-items: center;
  list-style: none;
  margin-left: auto;
}
.header .nav ul .close-btn {
  display: block;
  position: absolute;
  cursor: pointer;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 3px 7px;
  top: 20px;
  left: 20px;
}
.header .nav ul .close-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
.header .nav ul .close-btn-disactive {
  display: none;
}
.header .nav ul .list-item {
  margin-left: 43px;
}
.header .nav__link {
  text-decoration: none;
  color: #100A30;
}
.header .nav__link:hover {
  color: #624DE3;
}
.header .nav__link:first-child {
  margin-left: 0;
}

.banner {
  background-color: #100A30;
  text-align: center;
  color: #fff;
  padding-top: 64px;
  position: relative;
  padding-bottom: 757px;
}
.banner__img {
  position: absolute;
  left: 3px;
  right: 0;
  margin: 0 auto;
}
.banner__title {
  font-size: 55px;
  max-width: 563px;
  margin: 0 auto;
  letter-spacing: 0.54px;
}
.banner__subtitle {
  padding-top: 29px;
  letter-spacing: 0.18px;
}
.banner .btn-group {
  margin-top: 52px;
}
.banner .btn-group__btn {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  border-radius: 6px;
  border: 1px solid #C3C1CB;
  padding: 15px 37px;
}
.banner .btn-group__btn-main {
  padding: 17px 39px;
  background-color: #624DE3;
  border: none;
  margin-right: 11px;
  font-size: 15px;
}
.banner .btn-group__btn-main:hover {
  background-color: #5846cc;
}

.services {
  padding-top: 210px;
}
.services__title {
  margin: 0 auto;
  font-weight: 700;
  font-size: 48px;
  max-width: 591px;
  text-align: center;
}
.services .cards {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 60px 0 86px;
}
.services .cards .card {
  width: 395px;
}
.services .cards .card-header {
  position: relative;
  height: 250px;
  padding: 170px 37px 24px 30px;
  color: #fff;
  font-size: 24px;
  border-radius: 8px 8px 0 0;
}
.services .cards .card-header:before {
  content: "";
  position: absolute;
  left: 30px;
  top: 158px;
  background: url("../img/card-title.svg") no-repeat center top/cover;
  width: 61px;
  height: 16px;
}
.services .cards .card-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.services .cards .card-info__price {
  font-size: 48px;
}
.services .cards .card-info__moice {
  font-size: 15px;
}
.services .cards .card-list {
  list-style-type: none;
  padding: 24px 24px;
}
.services .cards .card-list__item {
  position: relative;
  padding-left: 30px;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
}
.services .cards .card-list__item::before {
  position: absolute;
  content: "";
  display: block;
  width: 20px;
  height: 24px;
  top: calc(50% - 10px);
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.services .cards .card-footer {
  border-radius: 0 0 8px;
}
.services .cards .card-gratuit .card-header {
  background: url("../img/card-01.svg") no-repeat center top/cover;
}
.services .cards .card-gratuit .card-footer {
  background-color: rgba(16, 10, 48, 0.03);
}
.services .cards .card-gratuit .card-list__item::before {
  background-image: url("../img/check-01.svg");
}
.services .cards .card-gratuit .card-info__title {
  padding-top: 13px;
}
.services .cards .card-basique .card-header {
  background: url("../img/card-02.svg") no-repeat center top/cover;
}
.services .cards .card-basique .card-info__title {
  color: #19C787;
}
.services .cards .card-basique .card-footer {
  background-color: rgba(25, 199, 135, 0.05);
}
.services .cards .card-basique .card-list__item::before {
  background-image: url("../img/check-02.svg");
}
.services .cards .card-pro .card-header {
  background: url("../img/card-03.svg") no-repeat center top/cover;
}
.services .cards .card-pro .card-info__title {
  color: #FF9F1C;
}
.services .cards .card-pro .card-footer {
  background-color: rgba(252, 185, 52, 0.05);
}
.services .cards .card-pro .card-list__item::before {
  background-image: url("../img/check-03.svg");
}

.comments .flex-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.comments__title {
  font-weight: 700;
  font-size: 48px;
  padding: 40px 0;
  margin-bottom: 40px;
}
.comments .item-gray {
  background: #E8E5FB;
}
.comments .item-green {
  background: #E8FAF3;
}
.comments .item-red {
  background: #FDEBEE;
}
.comments .item-orange {
  background: #FFF5E1;
}
.comments .item {
  border-radius: 8px;
  padding: 40px;
  width: 596px;
  margin-bottom: 40px;
}
.comments .item__header {
  display: flex;
  align-items: center;
  padding-bottom: 36px;
  position: relative;
}
.comments .item__header::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: url("../img/twitter-icon.svg") no-repeat center top/cover;
  width: 24px;
  height: 24px;
}
.comments .item__avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: url("../img/avatar1.png") no-repeat center top/cover;
}
.comments .item__info {
  margin-left: 16px;
}
.comments .item__username {
  font-weight: 700;
}
.comments .item__subtitle {
  font-size: 15px;
}
.comments .item__message {
  font-size: 17px;
  letter-spacing: 0.17px;
  line-height: 30px;
}
.comments .item__repost {
  padding-top: 20px;
  font-weight: 700;
}

.footer {
  background: #F8F8F9;
  padding: 57px 0;
  margin-top: 80px;
}
.footer__wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.footer .container {
  max-width: 1232px;
  margin: 0 auto;
}
.footer__item {
  text-decoration: none;
  display: block;
  color: #100A30;
  font-size: 15px;
}
.footer__item:not(:last-child) {
  margin-bottom: 6px;
}
.footer__item:hover {
  text-decoration: underline;
}
.footer__subtitle {
  margin-top: 24px;
  letter-spacing: 0.18px;
}
.footer__icons {
  margin-top: 24px;
  display: flex;
  align-items: center;
}
.footer__link:not(:last-child) {
  margin-right: 24px;
}
.footer__section-header {
  font-weight: 700;
  margin-bottom: 12px;
}

.container {
  max-width: 1266px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  display: block;
  text-decoration: none;
  margin-left: 29px;
  vertical-align: middle;
  text-align: center;
  color: #fff;
  background: #624DE3;
  border-radius: 6px;
  font-size: 14px;
  padding: 16px 25px;
}
.btn:hover {
  background: #5846cc;
}

@media screen and (max-width: 1240px) {
  .banner {
    padding-bottom: 685px;
  }
  .banner img {
    width: 95%;
  }

  .services .cards .card {
    width: 360px;
  }

  .comments .item {
    width: 570px;
  }
}
@media screen and (max-width: 1200px) {
  .services .cards .card {
    width: 360px;
  }

  .comments .item {
    width: 550px;
  }
}
@media screen and (max-width: 1145px) {
  .banner {
    padding-bottom: 585px;
  }
  .banner img {
    width: 85%;
  }

  .services .cards .card {
    width: 340px;
  }

  .comments .item {
    width: 535px;
  }
}
@media screen and (max-width: 1110px) {
  .services .cards {
    flex-wrap: wrap;
    padding-bottom: 46px;
  }
  .services .cards .card {
    width: 450px;
    margin-bottom: 40px;
  }

  .comments__title {
    text-align: center;
    padding: 0;
  }
  .comments .flex-box {
    flex-direction: column;
  }
  .comments .item {
    width: 100%;
  }
}
@media screen and (max-width: 1024px) {
  .banner {
    padding-bottom: 50px;
  }
  .banner img {
    display: none;
  }

  .services {
    padding-top: 100px;
  }
}
@media screen and (max-width: 955px) {
  .services .cards {
    flex-wrap: nowrap;
    flex-direction: column;
  }
  .services .cards .card {
    margin: 0 auto 40px;
  }
}
@media screen and (max-width: 769px) {
  .header .nav .hamburger {
    display: flex;
    align-items: center;
  }
  .header .nav ul {
    display: none;
    background-color: rgba(16, 10, 48, 0.9);
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    padding-top: 40px;
  }
  .header .nav ul .list-item {
    margin: 0;
    padding: 15px 0;
    text-align: center;
  }
  .header .nav__link {
    color: #fff;
  }

  .banner__title {
    font-size: 45px;
  }

  .footer__wrap {
    flex-direction: column;
  }
  .footer__block:not(:last-child) {
    margin-bottom: 35px;
  }
}
@media screen and (max-width: 501px) {
  .banner .btn-group {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .banner .btn-group__btn {
    padding: 17px 39px;
    width: 100%;
  }
  .banner .btn-group__btn-main {
    margin: 0 0 10px;
  }

  .services__title {
    font-size: 38px;
  }
  .services .cards .card {
    width: 100%;
  }

  .comments__title {
    font-size: 38px;
  }
}

/*# sourceMappingURL=main.css.map */
